.header3 {
    position: relative; 
    z-index: 1; 
    background: white;
    width: 100%;
    position: relative;
    top:0px;
    right: 30px;
    font-family: Georgia, serif;
  }
  
  .header3-topbar {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 2rem;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header3-topbar p {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin: 0;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: #f3f3f3;
    border-radius: 24px;
    padding: 8px 16px; 

  }
  
  .header3-sortby {
    margin-left: auto; 
  }
  
