.header-topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    background-color: #055c3f;
    font-size: 10px;
    color: white;
    border-radius: 0px;
    padding: 0 20px; 
    box-sizing: border-box; 
}

.header-number{
    margin: 0 10px; 
    position: relative;
    left: 35px;
}
.header-title
 {
    margin: 0 10px; 
}
.header-right {
    display: flex;
    align-items: center;
    position: relative;
    right: 180px;
    gap: 18px;  
  }
  
